td.price-col { vertical-align:middle; text-align:right; }
span.price-txt { color:#6699dd; font-weight:bold; }
a.action-btn-m { margin-top:2px; }
body .modal { width:360px; margin: auto auto auto auto; }